<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link href="starter-template.css" rel="stylesheet"/>
    <title>Create new Notion</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Starter Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>

        <!-- Custom styles for this template -->
        <link href="starter-template.css" rel="stylesheet">
    </head>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="../notion">Notion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Feeling perspicacious today?</h1>
        <p class="lead">Sudden post-nap epiphany just hit you? Quick now, put it down right here!</p>
    </div>
    <form action="#" th:action="@{/add}" th:object="${newNotion}" method="post">
        <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="Titlearea">Name your Notion</label>
        <input type="text" th:field="*{title}" class="form-control form-control-lg" id="Titlearea" placeholder="We exist as bio-feedback."/>
    </div>
    <div class="form-group">
        <label for="Textarea">Elaborate here</label>
        <textarea type="text" th:field="*{content}" class="form-control" id="Textarea" rows="3" placeholder="By evolving, we self-actualize. To wander the circuit is to become one with it."></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Create Notion" />
    </div>
    </form>

</main>
</body>
</html>