<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>Notion</title>
</head>
<body>
<a href="notion/add">Add new Notion</a>
<h1>Notions</h1>
<table>
    <tr>
        <th>Score</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <tr th:each="notion : ${notions}" th:object="${notion}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{content}"></td>
    </tr>
</table>
</body>
</html>